body {
    background: url("assets/textura.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 480px) {
    .movil {
        width: 97% !important;
        text-align: center;
        padding-left: 5px;  
        margin-top: 50px;

      }
  }

  @media (max-width: 480px) {
    body {
        background: url("assets/textura-movil.jpg");
        background-repeat: no-repeat;
        background-size: 480px 800px;
        background-position: center;

      }
  }